<% if @patient_note.errors.any? %>
showErrorMessage("<%= @patient_note.errors.full_messages.join(';') %>");
<% end %>

function showErrorMessage(error) {
    var errorsPane = $('#error-case');
    var errorTitle = $('<span />')
      .html("An Error has occured, please fix the following:")
      .appendTo(errorsPane);
    var errorsList = $('<ul />').appendTo(errorsPane);
    errorsList.append('<li>' + error + '</li>');
    errorsPane.show();
  }
